option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: "/var/app/current:/var/app/current/app/backend"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: app/static
