option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app/backend/wsgi.py
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current/app/backend:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: app/backend/static

packages:
  yum:
    git: []
